* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
}

ul {
    list-style: disc inside;
}

ul li {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.proyecto {
    margin-bottom: 2rem;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

.imagen_redonda {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
